div{
    height: 100px;
    width: 100px;
    background-image: url(SCET_CO_triangle.jpg);
    background-size: cover;
    color: aliceblue;
    position: fixed;
    right: 0px;
    top: 20px;
}